# Django #
/backend/*.log
/backend/*.pot
/backend/*.pyc
/backend/__pycache__
/backend/db.sqlite3
/backend/media


# If you are using PyCharm #
# User-specific stuff
/backend/.idea/**/workspace.xml
/backend/.idea/**/tasks.xml
/backend/.idea/**/usage.statistics.xml
/backend/.idea/**/dictionaries
/backend/.idea/**/shelf

backend/venv/
/backend/my.cnf
